{% extends 'main.html' %}

{% block content %}

<div class="title-container">
    <h1>Welcome to NIDS AI</h1>
</div>

<form class="login-register-wrapper" action="" method="POST">
    {% csrf_token %}
    <div class="fields-wrapper">
        {% for field in loginForm %}
                
                    <div class="login-fields">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                
                
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
        {% endfor %}
        <div class="link-wrapper">
            <input type="submit" value="Login" />
            Haven't signed up yet?
            <a href="{% url 'register' %}">Sign up</a>
        </div>
        
    </div>
</form>



{% endblock %}